--
-- PostgreSQL database dump
--

\restrict SbFAqHFvKEOdut7dDQAen4erMr7gghTyoKOtnDtfbN3U00Oh8uKkLexMMAtYKt3

-- Dumped from database version 15.19
-- Dumped by pg_dump version 15.19

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: episodes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.episodes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    season_id uuid NOT NULL,
    episode_number integer NOT NULL,
    tmdb_id bigint,
    title character varying(255),
    overview text,
    air_date date,
    runtime_minutes integer,
    still_path character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    tmdb_still_path character varying(255)
);


--
-- Name: genre_to_media; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.genre_to_media (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    genre_id uuid NOT NULL,
    movie_id uuid,
    show_id uuid,
    CONSTRAINT genre_to_media_movie_or_show CHECK ((((movie_id IS NOT NULL) AND (show_id IS NULL)) OR ((movie_id IS NULL) AND (show_id IS NOT NULL))))
);


--
-- Name: genres; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.genres (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL
);


--
-- Name: media_files; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.media_files (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    movie_id uuid,
    episode_id uuid,
    file_path character varying(255),
    original_filename character varying(255),
    container_format character varying(255),
    video_codec character varying(255),
    audio_codec character varying(255),
    resolution character varying(255),
    duration_seconds integer,
    file_size_bytes bigint,
    encoded_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT media_file_exactly_one_owner CHECK ((((movie_id IS NOT NULL) AND (episode_id IS NULL)) OR ((movie_id IS NULL) AND (episode_id IS NOT NULL))))
);


--
-- Name: movies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.movies (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tmdb_id bigint,
    title character varying(255) NOT NULL,
    release_date date,
    overview text,
    poster_path character varying(255),
    backdrop_path character varying(255),
    runtime_minutes integer,
    creator_names character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    original_title character varying(255),
    tmdb_backdrop_path character varying(255),
    tmdb_poster_path character varying(255)
);


--
-- Name: seasons; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.seasons (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    show_id uuid NOT NULL,
    season_number integer NOT NULL,
    tmdb_id bigint,
    overview text,
    poster_path character varying(255),
    air_date date,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    title character varying(255),
    tmdb_poster_path character varying(255)
);


--
-- Name: shows; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.shows (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tmdb_id bigint,
    title character varying(255) NOT NULL,
    first_air_date date,
    overview text,
    poster_path character varying(255),
    creator_names character varying(255),
    backdrop_path character varying(255),
    status character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    original_title character varying(255),
    tmdb_backdrop_path character varying(255),
    tmdb_poster_path character varying(255)
);


--
-- Name: subtitles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.subtitles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    media_file_id uuid NOT NULL,
    file_path character varying(255),
    language_code character varying(255) NOT NULL,
    label character varying(255),
    format character varying(255) DEFAULT 'vtt'::text NOT NULL,
    is_default boolean DEFAULT false NOT NULL,
    source character varying(255) DEFAULT 'embedded'::text NOT NULL,
    original_stream_index integer,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    is_forced boolean,
    is_sdh boolean
);


--
-- Name: episodes episodes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.episodes
    ADD CONSTRAINT episodes_pkey PRIMARY KEY (id);


--
-- Name: episodes episodes_season_id_episode_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.episodes
    ADD CONSTRAINT episodes_season_id_episode_number_key UNIQUE (season_id, episode_number);


--
-- Name: genre_to_media genre_to_media_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.genre_to_media
    ADD CONSTRAINT genre_to_media_pkey PRIMARY KEY (id);


--
-- Name: genres genres_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.genres
    ADD CONSTRAINT genres_pkey PRIMARY KEY (id);


--
-- Name: media_files media_files_file_path_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media_files
    ADD CONSTRAINT media_files_file_path_key UNIQUE (file_path);


--
-- Name: media_files media_files_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media_files
    ADD CONSTRAINT media_files_pkey PRIMARY KEY (id);


--
-- Name: movies movies_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movies
    ADD CONSTRAINT movies_pkey PRIMARY KEY (id);


--
-- Name: movies movies_tmdb_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movies
    ADD CONSTRAINT movies_tmdb_id_key UNIQUE (tmdb_id);


--
-- Name: seasons season_tmdb_id; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT season_tmdb_id UNIQUE (tmdb_id);


--
-- Name: seasons seasons_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT seasons_pkey PRIMARY KEY (id);


--
-- Name: seasons seasons_show_id_season_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT seasons_show_id_season_number_key UNIQUE (show_id, season_number);


--
-- Name: shows shows_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shows
    ADD CONSTRAINT shows_pkey PRIMARY KEY (id);


--
-- Name: shows shows_tmdb_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shows
    ADD CONSTRAINT shows_tmdb_id_key UNIQUE (tmdb_id);


--
-- Name: subtitles subtitles_file_path_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subtitles
    ADD CONSTRAINT subtitles_file_path_key UNIQUE (file_path);


--
-- Name: subtitles subtitles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subtitles
    ADD CONSTRAINT subtitles_pkey PRIMARY KEY (id);


--
-- Name: episodes tmdb_id; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.episodes
    ADD CONSTRAINT tmdb_id UNIQUE (tmdb_id);


--
-- Name: episodes uk5h6d37iyyfo7vnmtc3meejqwp; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.episodes
    ADD CONSTRAINT uk5h6d37iyyfo7vnmtc3meejqwp UNIQUE (season_id, episode_number);


--
-- Name: seasons uk9r2pn4u4jtr3890voxjl8w9fe; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT uk9r2pn4u4jtr3890voxjl8w9fe UNIQUE (show_id, season_number);


--
-- Name: genres uq_genres_name; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.genres
    ADD CONSTRAINT uq_genres_name UNIQUE (name);


--
-- Name: idx_episodes_season_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_episodes_season_id ON public.episodes USING btree (season_id);


--
-- Name: idx_genre_to_media_genre_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_genre_to_media_genre_id ON public.genre_to_media USING btree (genre_id);


--
-- Name: idx_genre_to_media_movie_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_genre_to_media_movie_id ON public.genre_to_media USING btree (movie_id) WHERE (movie_id IS NOT NULL);


--
-- Name: idx_genre_to_media_show_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_genre_to_media_show_id ON public.genre_to_media USING btree (show_id) WHERE (show_id IS NOT NULL);


--
-- Name: idx_media_files_episode_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_media_files_episode_id ON public.media_files USING btree (episode_id);


--
-- Name: idx_media_files_movie_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_media_files_movie_id ON public.media_files USING btree (movie_id);


--
-- Name: idx_movies_canonical_title; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_movies_canonical_title ON public.movies USING btree (title);


--
-- Name: idx_seasons_show_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_seasons_show_id ON public.seasons USING btree (show_id);


--
-- Name: idx_shows_canonical_title; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_shows_canonical_title ON public.shows USING btree (title);


--
-- Name: idx_subtitles_media_file_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_subtitles_media_file_id ON public.subtitles USING btree (media_file_id);


--
-- Name: one_default_subtitle_per_file; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX one_default_subtitle_per_file ON public.subtitles USING btree (media_file_id) WHERE is_default;


--
-- Name: uq_genre_to_media_genre_movie; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_genre_to_media_genre_movie ON public.genre_to_media USING btree (genre_id, movie_id) WHERE (movie_id IS NOT NULL);


--
-- Name: uq_genre_to_media_genre_show; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_genre_to_media_genre_show ON public.genre_to_media USING btree (genre_id, show_id) WHERE (show_id IS NOT NULL);


--
-- Name: episodes episodes_season_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.episodes
    ADD CONSTRAINT episodes_season_id_fkey FOREIGN KEY (season_id) REFERENCES public.seasons(id) ON DELETE CASCADE;


--
-- Name: genre_to_media fk7nud4013ivvicoxq94i2hsunq; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.genre_to_media
    ADD CONSTRAINT fk7nud4013ivvicoxq94i2hsunq FOREIGN KEY (show_id) REFERENCES public.shows(id);


--
-- Name: genre_to_media fk_genre_to_media_genre; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.genre_to_media
    ADD CONSTRAINT fk_genre_to_media_genre FOREIGN KEY (genre_id) REFERENCES public.genres(id) ON DELETE CASCADE;


--
-- Name: genre_to_media fkfw3jhajws02vom55jal0sq95a; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.genre_to_media
    ADD CONSTRAINT fkfw3jhajws02vom55jal0sq95a FOREIGN KEY (movie_id) REFERENCES public.movies(id);


--
-- Name: media_files media_files_episode_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media_files
    ADD CONSTRAINT media_files_episode_id_fkey FOREIGN KEY (episode_id) REFERENCES public.episodes(id) ON DELETE CASCADE;


--
-- Name: media_files media_files_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media_files
    ADD CONSTRAINT media_files_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movies(id) ON DELETE CASCADE;


--
-- Name: seasons seasons_show_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.seasons
    ADD CONSTRAINT seasons_show_id_fkey FOREIGN KEY (show_id) REFERENCES public.shows(id) ON DELETE CASCADE;


--
-- Name: subtitles subtitles_media_file_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.subtitles
    ADD CONSTRAINT subtitles_media_file_id_fkey FOREIGN KEY (media_file_id) REFERENCES public.media_files(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict SbFAqHFvKEOdut7dDQAen4erMr7gghTyoKOtnDtfbN3U00Oh8uKkLexMMAtYKt3

