--
-- PostgreSQL database dump
--

\restrict 8LgFvOX1WF6u1ZS4pDRmxpQlHayhT4MwcM0ssu6ECDFNHllFeVUVF70hOjx094p

-- Dumped from database version 15.19
-- Dumped by pg_dump version 15.19

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = NOW();

RETURN NEW;

END;

$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: profile_pictures; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.profile_pictures (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    location character varying(255) NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    display_name character varying(255) NOT NULL,
    profile_picture_id uuid
);


--
-- Name: watchlists; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.watchlists (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    movie_id uuid,
    show_id uuid,
    added timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT watchlists_movie_or_show CHECK ((((movie_id IS NOT NULL) AND (show_id IS NULL)) OR ((movie_id IS NULL) AND (show_id IS NOT NULL))))
);


--
-- Name: watchtimes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.watchtimes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    movie_id uuid,
    episode_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    watchtime_seconds bigint DEFAULT 0 NOT NULL,
    season_id uuid,
    show_id uuid,
    duration_seconds bigint,
    CONSTRAINT watchtimes_movie_or_episode CHECK ((((movie_id IS NOT NULL) AND (episode_id IS NULL)) OR ((movie_id IS NULL) AND (episode_id IS NOT NULL)))),
    CONSTRAINT watchtimes_nonnegative CHECK ((watchtime_seconds >= 0))
);


--
-- Name: profile_pictures profile_pictures_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.profile_pictures
    ADD CONSTRAINT profile_pictures_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: watchlists watchlists_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.watchlists
    ADD CONSTRAINT watchlists_pkey PRIMARY KEY (id);


--
-- Name: watchtimes watchtimes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.watchtimes
    ADD CONSTRAINT watchtimes_pkey PRIMARY KEY (id);


--
-- Name: idx_watchlists_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_watchlists_user_id ON public.watchlists USING btree (user_id);


--
-- Name: idx_watchtimes_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_watchtimes_user_id ON public.watchtimes USING btree (user_id);


--
-- Name: uq_watchlists_user_movie; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_watchlists_user_movie ON public.watchlists USING btree (user_id, movie_id) WHERE (movie_id IS NOT NULL);


--
-- Name: uq_watchlists_user_show; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_watchlists_user_show ON public.watchlists USING btree (user_id, show_id) WHERE (show_id IS NOT NULL);


--
-- Name: uq_watchtimes_user_episode; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_watchtimes_user_episode ON public.watchtimes USING btree (user_id, episode_id) WHERE (episode_id IS NOT NULL);


--
-- Name: uq_watchtimes_user_movie; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uq_watchtimes_user_movie ON public.watchtimes USING btree (user_id, movie_id) WHERE (movie_id IS NOT NULL);


--
-- Name: watchtimes trg_watchtimes_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER trg_watchtimes_updated_at BEFORE UPDATE ON public.watchtimes FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users fk_users_profile_picture; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_profile_picture FOREIGN KEY (profile_picture_id) REFERENCES public.profile_pictures(id) ON DELETE SET NULL;


--
-- Name: watchlists fk_watchlists_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.watchlists
    ADD CONSTRAINT fk_watchlists_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: watchtimes fk_watchtimes_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.watchtimes
    ADD CONSTRAINT fk_watchtimes_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 8LgFvOX1WF6u1ZS4pDRmxpQlHayhT4MwcM0ssu6ECDFNHllFeVUVF70hOjx094p

