@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer components {
  video::cue {
    color: white;
    /* background: rgba(0, 0, 0, 0.75); */
    background: none;
    font-size: 1.15em;
    font-family: Arial, sans-serif;
    font-weight: 500;
    text-shadow: 2px 2px 2px black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans);
}
/* 
main {
  min-height: 100vh;
  max-width: 90%;
  align-items: center;
  padding: 4em;
  display: flex;
  flex-direction: column;
  gap: 4em;
} */

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(71 85 105) transparent;
  }

  /* *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: rgb(51 65 85);
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: rgb(100 116 139);
    border: 2px solid transparent;
    background-clip: content-box;
  }

  *::-webkit-scrollbar-corner {
    background: transparent;
  } */
}

/* @theme {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
} */
